/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo:  #C0C0C0;
   --cor-de-link:   #000000;
   --cor-do-footer: #4682B4;
}   


body{
    box-sizing: border-box;      
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    background-color: var(--cor-de-fundo);
    
}
.main{
    background: url('../assets/rrrrrr.PNG');
    
    
}
.all{
    padding: 50px 0px 0px 0px;
    gap: 100px;
    background: url('../assets/js_icon.png');
    background-repeat:repeat-x;
    position: relative;
    
        
}

.gif_pc{
    display: flex;
    width: 55px;   
    height: 55px;
    

}
.menu__title{
    display: flex;


}
.nome-vector{
    display: flex;
    padding: 0px 0px 0px 20px;   
    
    
}

.menu__list{
    display:flex;    
    padding:50px;
    gap: 50px;
    font-weight: bold; 
    
}


.title__profile{
    width: 371px;   
    height: 374px;
       
}
.title_Foto_Profile{
    display:flex;
    justify-content: center;
}

.title__network{
    display: flex;
    gap: 30px;
    padding: 10px; 
    justify-content: center;
    font-weight: bold;
}
.title__container{
    padding: 0px 0px 0px 20px;
}


ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}
.footer{
    display: flex;
    justify-content: center;
  
    background-color: var(--cor-do-footer);
    padding: 15px;    
    font-family: 'montserrat',sans-serif;
    font-size: 1rem;
    font-weight: bold;    
}
.nome_footer{
    justify-content: center; 

    }



/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{
    display: flex;
    font-size: 16px;         
   
       
}

/*Sessão Title*/

section.title{

}

/*Sessão About*/
.apresentacao__conteudo__texto{
    gap: 10px;
}
.body_about{
    padding: 20px 10px 20px 10px;
    width: 100%; 
    gap: 30px;
}

.menu_link{
    
    margin-right: 20px;
}
.aprentação_foto{
    padding: 0px;
}


.apresentacao__imagem{
    display: flex;    
    width: 200px;   
    height: 150px;
    
   

}
.assinatura_imagem{
    display: flex;    
    width: 200px;   
    height: 200px;
    padding: 0px;
}

/*Sessão Skills*/
.body_skills{
    padding: 20px 10px 20px 10px;
    width: 100%; 
    gap: 30px;

}
.menu_link{
    
    margin-right: 20px;
}
.skills__line{
    display: flex;
    flex-direction:row ;
    gap: 30px;
    
}

/*Sessão Hobbies*/
.body_hobbies{
    padding: 20px 10px 20px 10px;
    width: 100%; 
    gap: 30px;
}
.menu_link{
    
    margin-right: 20px;
}

.hobbies__line{
    display: flex;
    flex-direction:row ;
    gap: 30px;

}
.foto_JJ{
    width: 55px;   
    height: 55px;
}
.foto_bike{
    width: 55px;   
    height: 55px;  
}
.foto_readphone{
    width: 55px;   
    height: 55px;
}
.foto_boxe{
    width: 55px;   
    height: 55px; 
}
.foto_futebol{
    width: 55px;   
    height: 55px; 
}
.foto_malhar{
    width: 55px;   
    height: 55px;  
}


/* Experiência Acadêmica*/
.body_formacao{
    padding: 20px 10px 20px 10px;
    width: 100%; 
    gap: 30px;
}
.menu_link{
    
    margin-right: 20px;
}





/* Experiência Profissional*/

.body_experiencia{
    padding: 20px 10px 20px 10px;
    width: 100%; 
    gap: 30px;
    
     
}

.menu_link  {
        
    margin-right: 20px;
    
}

/*Contato*/

.body_contato{
    padding: 20px 10px 20px 10px;
    width: 100%; 
    gap: 30px;
}
.menu_link{
        
    margin-right: 20px;
    
}
.formcontato__img{
    width: 320px;   
    height: 320px;
    
   
}

/*footeer*/

section.footer{
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
